<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" xml:lang="en" lang="en">
    <head>      
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta http-equiv="X-UA-Compatible" content="chrome=1"> 
          
        
        <title>{{page.title}}</title>
        
        <link rel="stylesheet" href="{{ site.STATIC_URL }}/generated_css/libs.css" />     
        <link rel="stylesheet" media="print" href="{{ site.STATIC_URL }}/css/print.css" />
        <link rel="stylesheet" href="{{ site.STATIC_URL }}/generated_css/scrumdo_scss.css" />         
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.css" />         
        

        <link rel="stylesheet" href="/css/static.css" />         
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
        

    
        

      <script type="text/javascript">
      var _gaq = _gaq || [];  // For Google Analytics below.

      var _kmq = _kmq || [];
      var _kmk = _kmk || '03519b5a41c175953eb8c1963e55054f5dc16063';
      function _kms(u){
        setTimeout(function(){
          var d = document, f = d.getElementsByTagName('script')[0],
          s = d.createElement('script');
          s.type = 'text/javascript'; s.async = true; s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
    </script>       

<!--[if IE]><script src="{{ site.STATIC_URL }}/js/excanvas.min.js" type="text/javascript"></script><![endif]-->

                  
    
      <!--[if IE]><style>
          div {
              zoom: 1; /* trigger hasLayout */
          }          
      </style><![endif]-->            
      <!--[if IE 8]><link rel="stylesheet" href="{{ site.STATIC_URL }}/css/ie8.css" /><![endif]-->         
      <!--[if IE 9]><link rel="stylesheet" href="{{ site.STATIC_URL }}/css/ie9.css" /><![endif]-->         


      {% if page.head %}
        {{ page.head }}
      {% endif %}
    </head>
    
    <body>
      <div class="ajax-error"></div>

      <!--[if IE 7]>    
      <div class="ie6_warning">
        For the best ScrumDo, we suggest: <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Internet Explorer 10</a>, 
        <a href="http://www.mozilla.com/en-US/firefox/personal.html">Firefox</a>, 
        <a href="http://www.google.com/chrome">Chrome</a>, or 
        <a href="http://www.apple.com/safari/">Safari</a>.
        It looks like you're using Internet Explorer 7.
      </div>        
      <![endif]-->
      
      <!--[if IE 6]>    
      <div class="ie6_warning">
        <h2>Hello!</h2>  It looks like you're using Internet Explorer 6.  Unfortunately, that browser has some serious bugs in it.  We've decided to focus on adding extra functionality
        instead of supporting old browsers.
        Please upgrade your browser.  <br/><br/>
        <center>We suggest: <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx">Internet Explorer 9 or higher</a>, 
        <a href="http://www.mozilla.com/en-US/firefox/personal.html">Firefox</a>, 
        <a href="http://www.google.com/chrome">Chrome</a>, or 
        <a href="http://www.apple.com/safari/">Safari</a></center>
      </div>  
      <![endif]-->
        <div id="tabhead">
          








    <div class="logo" dir="ltr"><a href="https://www.scrumdo.com/"><img src="{{ site.STATIC_URL }}/images/small-logo.png" alt="ScrumDo"/></a></div>
              
              

              
                <div class="megamenu_container ">
                  
                  <ul class="megamenu">
                    
                    
                    
                    <li style="display:none" id="chatMenu"><a id="chatMenuLink" href="#"><img src="{{ site.STATIC_URL }}/images/icons/text_balloon.png"><span id="chat-count" style="display:none" class="extras-count"></span></a>
                      <div class="drop6columns dropcontent chat-menu-content" >                     
                        <ul id="chatLines">
                          <li>Loading...</li>
                        </ul>                                     
                        <textarea id="chatInput"></textarea>
                      </div>
                    </li>
                    
                    <li class="project-menu-search-box">
                      
                        
                      
                    </li>
                    
                    

                    


                    
                    
                    
                    
                    
                  </ul>
                </div>





              


              
        
        </div>